.subjectHeader {
  font-size: 1.5em;
  color: #66ccff;
}

table , th, td {
  border: 2px #000000 solid;
  border-collapse: collapse;
  text-align: center;
  padding: 5px;
}

thead th {
  background-color: #ff0066;
  color: #FFFFFF;
}

ul > li {
  list-style-type: square;
}

a {
  text-decoration: none;
}

a:hover {
  background-color: #ffff00;
}

blockquote {
  color: #ffccff;
  background-color: #800000;
}
