.subjectHeader {
  font-size: 1.5em;
  color: #66ccff;
}

table , th, td {
  border: 2px #000000 solid;
  border-collapse: collapse;
  text-align: center;
  padding: 5px;
}

thead th {
  background-color: #ff0066;
  color: #FFFFFF;
}

ul > li {
  list-style-type: square;
}

a {
  text-decoration: none;
}

a:hover {
  background-color: #ffff00;
}

blockquote {
  color: #ffccff;
  background-color: #800000;
}

img {
  display: none;
}

#teamRoster > li:first-child {
  background-image:
  url(https://upload.wikimedia.org/wikipedia/en/4/44/Denver_Broncos_logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

#teamRoster > li:last-child {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/5c/Chicago_Bears_logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

#checkbox-grid li {
  list-style: none;
}
